:root {
   --clr-primary: rgb(176, 46, 46);
   ;
}



body {
   background-color: #f8f8f8;
   height: 100vh;
   margin: 0;
   display: grid;
   grid-template-columns: 130px 1fr;
   grid-template-rows: auto 1fr auto;
   grid-template-areas: "header header"
      "nav main"
      "nav footer";
   box-sizing: border-box;
   font-family: Fira Sans;
   transition: 150ms ease;
}

header {
   grid-area: header;
   position: sticky;
   top: 0;
   z-index: 99;
}

.navbar-top {
   background-color: white;
   padding: 5px;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   z-index: 0;
   display: flex;
   flex-direction: row;
}

/* hamburger */
.navbar-top .hamburger {
   width: 40px;
   height: 50px;
   position: relative;
   margin-left: 40px;
   cursor: pointer;
}

.hamburger:hover .menu {
   display: none;
   cursor: pointer;
}

.navbar-top img {
   padding: 0px 0px 0px 30px;
   cursor: pointer;
}

.navbar-top .hamburger button {
   border: none;
   background-color: white;

}

.navbar-top .hamburger span {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80%;
   height: 4px;
   background-color: rgb(0, 0, 0);
   border-radius: 25px;
   position: absolute;
   margin: 10px;
}

.navbar-top .hamburger span:nth-child(1) {
   top: 25%;
}

.navbar-top .hamburger span:nth-child(3) {
   top: 50%;
}

/* right btn */
.navbar-top .row-right {
   display: flex;
   flex-direction: row;
   position: absolute;
   right: 50px;
   height: 35px;
   top: 13px;
   text-align: center;
}

.navbar-top .right-btn {
   background-color: white;
   height: 30px;
}

.navbar-top .pos {
   border: none;
   border-radius: 20px;
   background-color: rgb(176, 46, 46);
}

.navbar-top .pos:hover {
   cursor: pointer;
   margin-top: -3px;
   transition: 0.3s;
}

.navbar-top .pos a {
   color: white;
   border-radius: 20px;
   font-size: 1.1em;
   text-decoration: none;
   padding: 0 20px;
}



.navbar-top .row-right .right-btn:nth-child(2) {
   border: none;
   margin-right: -20px;
   margin-left: 10px;
}

.navbar-top .profile {
   width: 40px;
   height: 40px;
   border-radius: 30px;
   overflow: hidden;
   background-color: #000000;
   margin-left: 25px;
   margin-top: -5px;
}

.navbar-top .profile img {
   width: 40px;
   margin-left: -30px;
}

.navbar-top .logout {
   text-align: center;
   margin-left: 25px;
   margin-right: -10px;
   background-color: rgb(176, 46, 46);
   border: none;
   border-radius: 20px;
   height: 30px;
}

.navbar-top .logout:hover {
   cursor: pointer;
   margin-top: -3px;
   transition: 0.3s;
}

.navbar-top .logout a {
   padding: 15px;
   text-decoration: none;
   color: white;
}


/* navbar left */
nav {
   grid-area: nav;
}

.nav-left {
   width: 130px;
   height: 100%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
   z-index: 99;

}

.menu button {
   width: 130px;
   height: 60px;
   border: none;
   background-color: white;
   cursor: pointer;
   display: block;
   text-align: justify;
   font-size: .9em;
   padding-left: 15px;
   font-family: Fira Sans;
}

.menu button i {
   padding-right: 10px;
   font-size: medium;
}

.menu button:hover {
   background-color: rgb(0, 0, 0, 0.2);
}

.menu button:hover .drop-sign {
   visibility: visible;
}

.menu button:hover {
   color: var(--clr-primary);
}

/* DropDown */

.menu .dropdown a {
   display: block;
   text-decoration: none;
   color: black;
   font-size: .9em;
   padding: 15px 0;
   padding-left: 20px;
   text-align: left;
}

.menu .dropdown .item {
   display: none;
   padding-left: 0px;
   width: 180px;
   height: 88vh;
   top: 120px;
   background-color: white;
   position: absolute;
   margin-left: 130px;
   margin-top: -60px;
   z-index: 99;
   border: 1px solid rgb(0, 0, 0, 0.1);
   font-family: Fira Sans;
}

/* .nav-left .background {
   display: none;
   background-color: white;
   height: 99.8vh;
   width: 150px;
   position: absolute;
   top: 0;
   margin-left: 130px;
   border: 1px solid rgb(0, 0, 0, 0.4);
   z-index: 1;
}

.menu:hover .background {
   display: block;
}

.menu .dropdown1:hover .background {
   display: none;
} */

.menu .dropdown:hover .item {
   display: block;
}

.menu .dropdown a:hover {
   color: var(--clr-primary);
   background-color: rgb(0, 0, 0, 0.2);
}

/* content */

main {
   grid-area: main;
   margin: 10px 20px;
}

.container-main {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.container-main hr {
   height: 1px;
   color: #000000;
   background-color: #000000;
}

.container-main .main-content {
   width: 100%;
   height: auto;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   padding: 20px;
   border-radius: 4px;
   margin-top: -20px;
}



/* footer */

footer {
   grid-area: footer;
   background-color: rgb(111, 163, 173);
   text-align: center;
   margin: 0 20px;
   padding: 0 15px;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   border-radius: 10px;
}

/* lyheng */

.search {
   float: left;
}


.search input {
   width: 300px;
   padding: 7px;
   margin-left: 5px;
   border: 2px solid rgb(131, 131, 131);
}

.search input:focus {
   border: 2px solid rgb(15, 82, 186);
   outline: rgb(15, 82, 186);
}

.feature p {
   cursor: pointer;
   display: inline;
   float: right;
   margin-top: 0px;
   margin-right: 10px;
}

.feature p:nth-child(1) {
   padding: 10px;
   background-color: rgb(176, 46, 46);
   border-radius: 5px;
   color: white;
   font-size: 13px;
}

/* .feature p:nth-child(1):hover {
   padding: 10px;
   background-color: rgb(175, 175, 175);
   border-radius: 5px;
   color: rgb(47, 47, 47);
   font-size: 13px;
} */
.feature p:nth-child(2) {
   padding: 10px;
   background-color: rgb(59, 72, 255);
   border-radius: 5px;
   color: white;
   font-size: 13px;
}



.feature p:nth-child(3) {
   padding: 8px;
   background-color: rgb(255, 255, 255);
   border: 2px solid rgb(176, 46, 46);
   color: rgb(176, 46, 46);
   /* border-radius: 5px; */
   font-size: 13px;
}

/* .feature p:nth-child(3):hover {
   padding: 8px;
   background-color: rgb(176, 46, 46);
   border: 2px solid rgb(176, 46, 46);
   color: rgb(255, 255, 255);
    border-radius: 5px; 
   font-size: 13px;
 } */



.feature p:nth-child(4) {
   padding: 8px;
   background-color: rgb(255, 255, 255);
   border: 2px solid #14ad80;
   /* border-radius: 5px; */
   color: #14ad80;
   font-size: 13px;
}

/* .feature p:nth-child(4):hover {
   padding: 8px;
   background-color: #14ad80;
   border: 2px solid #14ad80;
    border-radius: 5px; 
   color: rgb(255, 255, 255);
   font-size: 13px;
} */

.feature p:nth-child(5) {
   padding: 8px;
   background-color: rgb(255, 255, 255);
   /* border-radius: 5px; */
   border: 2px solid rgb(15, 82, 186);
   color: rgb(15, 82, 186);
   font-size: 13px;
}

/* .feature p:nth-child(5):hover {
   padding: 8px;
   background-color: rgb(15, 82, 186);
    border-radius: 5px; 
   border: 2px solid rgb(15, 82, 186);
   color: rgb(255, 255, 255);
   font-size: 13px;
} */


table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 20px;
}

table tr img {
   width: 13px;
   padding-right: 10px;
   margin-top: 5px;
   cursor: pointer;
}

table th,
table td {
   padding: 12px;
   text-align: left;
   border-bottom: 1px solid #ddd;
}

table td {
   padding-left: 30px;
}

table td:nth-child(1) {
   padding-left: 12px;
}

table td:nth-child(2) {
   padding-left: 10px;
}

table th {
   background-color: #f7f7f7;
   font-weight: bold;
}



table td button.action-btn {
   background-color: white;
   color: black;
   border: none;
   padding: 6px 12px;
   cursor: pointer;
   border-radius: 4px;
   font-size: 14px;
   rotate: 90deg;
}

table td button.action-btn:hover {
   background-color: transparent;
}

.pagination-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
}

.rows-per-page,
.pagination-info {
   display: flex;
   align-items: center;
}

select {
   padding: 5px;
   margin-left: 10px;
}

.pagination-info {
   font-size: 14px;
   color: grey;
}

.pagination-buttons {
   display: flex;
   /* color: grey; */
}

.pagination-buttons a {
   text-decoration: none;
   padding: 5px 10px;
   border-radius: 5px;
   border: none;
   background-color: transparent;
   color: grey;
}

.pagination-buttons a:hover {
   background-color: #ffffff;
}