:root {
   --clr-primary: rgb(176, 46, 46);
   ;
}



body {
   background-color: #f8f8f8;
   height: 100vh;
   margin: 0;
   display: grid;
   grid-template-columns: 130px 1fr;
   grid-template-rows: auto 1fr auto;
   grid-template-areas: "header header"
      "nav main"
      "nav footer";
   box-sizing: border-box;
   font-family: Fira Sans;
   transition: 150ms ease;
}

header {
   grid-area: header;
   position: sticky;
   top: 0;
   z-index: 99;
}

.navbar-top {
   background-color: white;
   padding: 5px;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   z-index: 0;
   display: flex;
   flex-direction: row;
}

/* hamburger */
.navbar-top .hamburger {
   width: 40px;
   height: 50px;
   position: relative;
   margin-left: 40px;
   cursor: pointer;
}

.hamburger:hover .menu {
   display: none;
   cursor: pointer;
}

.navbar-top img {
   padding: 0px 0px 0px 30px;
   cursor: pointer;
}

.navbar-top .hamburger button {
   border: none;
   background-color: white;

}

.navbar-top .hamburger span {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80%;
   height: 4px;
   background-color: rgb(0, 0, 0);
   border-radius: 25px;
   position: absolute;
   margin: 10px;
}

.navbar-top .hamburger span:nth-child(1) {
   top: 25%;
}

.navbar-top .hamburger span:nth-child(3) {
   top: 50%;
}

/* right btn */
.navbar-top .row-right {
   display: flex;
   flex-direction: row;
   position: absolute;
   right: 50px;
   height: 35px;
   top: 13px;
   text-align: center;
}

.navbar-top .right-btn {
   background-color: white;
   height: 30px;
}

.navbar-top .pos {
   border: none;
   border-radius: 20px;
   background-color: rgb(176, 46, 46);
}

.navbar-top .pos:hover {
   cursor: pointer;
   margin-top: -3px;
   transition: 0.3s;
}

.navbar-top .pos a {
   color: white;
   border-radius: 20px;
   font-size: 1.1em;
   text-decoration: none;
   padding: 0 20px;
}



.navbar-top .row-right .right-btn:nth-child(2) {
   border: none;
   margin-right: -20px;
   margin-left: 10px;
}

.navbar-top .profile {
   width: 40px;
   height: 40px;
   border-radius: 30px;
   overflow: hidden;
   background-color: #000000;
   margin-left: 25px;
   margin-top: -5px;
}

.navbar-top .profile img {
   width: 40px;
   margin-left: -30px;
}

.navbar-top .logout {
   text-align: center;
   margin-left: 25px;
   margin-right: -10px;
   background-color: rgb(176, 46, 46);
   border: none;
   border-radius: 20px;
   height: 30px;
}

.navbar-top .logout:hover {
   cursor: pointer;
   margin-top: -3px;
   transition: 0.3s;
}

.navbar-top .logout a {
   padding: 15px;
   text-decoration: none;
   color: white;
}


/* navbar left */
nav {
   grid-area: nav;
}

.nav-left {
   width: 130px;
   height: 100%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
   z-index: 99;

}

.menu button {
   width: 130px;
   height: 60px;
   border: none;
   background-color: white;
   cursor: pointer;
   display: block;
   text-align: justify;
   font-size: .9em;
   padding-left: 15px;
   font-family: Fira Sans;
}

.menu button i {
   padding-right: 10px;
   font-size: medium;
}

.menu button:hover {
   background-color: rgb(0, 0, 0, 0.2);
}

.menu button:hover .drop-sign {
   visibility: visible;
}

.menu button:hover {
   color: var(--clr-primary);
}

/* DropDown */

.menu .dropdown a {
   display: block;
   text-decoration: none;
   color: black;
   font-size: .9em;
   padding: 15px 0;
   padding-left: 20px;
   text-align: left;
}

.menu .dropdown .item {
   display: none;
   padding-left: 0px;
   width: 180px;
   height: 88vh;
   top: 120px;
   background-color: white;
   position: absolute;
   margin-left: 130px;
   margin-top: -60px;
   z-index: 99;
   border: 1px solid rgb(0, 0, 0, 0.1);
   font-family: Fira Sans;
}

/* .nav-left .background {
   display: none;
   background-color: white;
   height: 99.8vh;
   width: 150px;
   position: absolute;
   top: 0;
   margin-left: 130px;
   border: 1px solid rgb(0, 0, 0, 0.4);
   z-index: 1;
}

.menu:hover .background {
   display: block;
}

.menu .dropdown1:hover .background {
   display: none;
} */

.menu .dropdown:hover .item {
   display: block;
}

.menu .dropdown a:hover {
   color: var(--clr-primary);
   background-color: rgb(0, 0, 0, 0.2);
}

/* content */

main {
   grid-area: main;
   margin: 10px 20px;
}

.container-main {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.container-main hr {
   height: 1px;
   color: #000000;
   background-color: #000000;
}

.container-main .main-content {
   gap: 50px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   padding: 20px;
   border-radius: 10px;
}

.left {
   flex-grow: 1;
   max-width: 850px;
   width: 780px;
   height: 300px;
   flex-grow: 1;
   font-size: 16px;
   font-weight: bold;
   margin-left: 15px;
}

table {
   width: 800px;
   margin: 0 auto;
   padding-left: 25px;
}

.table table tr {
   height: 30px;
}

.table table tr td input {
   width: 300px;
   height: 30px;
   border-radius: 7px;
   outline: none;
   border: 2px solid rgb(218, 218, 218);
   background-color: rgb(244, 244, 244);
   margin-bottom: 20px;
   padding-left: 10px;
}

.table table tr td input:focus {
   border: 2px solid rgb(15, 82, 186);
}

.right {
   flex-grow: 1;
   width: 350px;
   height: 250px;
   margin-left: 40px;
   margin-right: 50px;
   max-width: 450px;

}

.right .header {
   background-color: rgb(244, 244, 244);
}

.right .header p {
   padding: 10px;
   font-size: 15px;
   font-weight: bold;
}

.drop {
   width: 170px;
   height: 170px;
   border: 2px dashed rgb(218, 218, 218);
   border-radius: 5px;
   margin: 0 auto;
   text-align: center;
   justify-content: center;
   cursor: pointer;
}

.drop p {
   width: 130px;
   text-align: center;
   margin: 30px auto;
   cursor: pointer;
   color: rgb(126, 126, 126);
}

.drop p span {
   color: rgb(15, 82, 186);
}


.submit button {
   padding: 10px 25px;
   background-color: rgb(176, 46, 46);
   color: white;
   border: none;
   border-radius: 10px;
   margin-left: 15px;
   margin-top: 20px;
   cursor: pointer;
   font-size: 17px;
}



/* footer */

footer {
   grid-area: footer;
   background-color: rgb(111, 163, 173);
   text-align: center;
   margin: 0 20px;
   padding: 0 15px;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   border-radius: 10px;
}