:root {
   --clr-primary: #f10d0e;
}

body {
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-areas: "header header"
      "aside main"
      "aside footer";
}

header {
   grid-area: header;
}

aside {
   grid-area: aside;
}

main {
   grid-area: main;
}

footer {
   grid-area: footer;
}

.navbar-top {
   background-color: white;
   padding: 5px;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   z-index: 0;
   display: flex;
   flex-direction: row;
}

/* hamburger */
.navbar-top .hamburger {
   width: 40px;
   height: 50px;
   position: relative;
   margin-left: 40px;
}

.hamburger:hover .menu {
   display: none;
   cursor: pointer;
}

.navbar-top img {
   padding: 0px 0px 0px 30px;
}

.navbar-top .hamburger button {
   border: none;
   background-color: white;
   cursor: pointer;
}

.navbar-top .hamburger span {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80%;
   height: 4px;
   background-color: rgb(0, 0, 0);
   border-radius: 25px;
   position: absolute;
   margin: 10px;
}

.navbar-top .hamburger span:nth-child(1) {
   top: 25%;
}

.navbar-top .hamburger span:nth-child(3) {
   top: 50%;
}

/* right btn */
.navbar-top .row-right {
   display: flex;
   flex-direction: row;
   position: absolute;
   right: 50px;
   height: 30px;
   top: 15px;
}

.navbar-top .right-btn {
   background-color: white;
}

.navbar-top .pos {
   border: 3px solid var(--clr-primary);
   border-radius: 30px;
   padding: 0px 20px 0px 20px;

}

.navbar-top .pos a {
   text-decoration: none;
   color: var(--clr-primary);
   font-weight: bold;
}

.navbar-top .pos a:hover {
   color: #ed6b6b;
}

.navbar-top .row-right .right-btn:nth-child(2) {
   border: none;
   margin-right: -20px;
   margin-left: 10px;
}

/* navbar left */
.nav-left {
   width: 180px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.2);
   border-radius: 0 0 10px 10px;

}

.menu button {
   width: 180px;
   height: 60px;
   border: none;
   background-color: white;
   cursor: pointer;
   display: block;
   text-align: left;
   padding-left: 40px;
   font-size: .9em;
}

.menu button i {
   padding-right: 20px;
}

.menu button:hover {
   background-color: rgb(0, 0, 0, 0.2);
}

.menu button:hover .drop-sign {
   visibility: visible;
}

.menu button:hover {
   color: var(--clr-primary);
}

/* DropDown */

.menu .dropdown a {
   display: block;
   text-decoration: none;
   color: black;
   font-size: .9em;
   padding: 10px;
   padding-left: 40px;
}

.menu .dropdown .item {
   display: none;
   padding: 10px;
   text-align: left;
   padding-left: 0px;
   width: 200px;

}

/* .menu .dropdown:hover .item {
   display: block;
} */

.menu .dropdown a:hover {
   color: var(--clr-primary);
   background-color: rgb(0, 0, 0, 0.2);
}

/* content */


.content {
   border: none;
   margin-top: 20px;
}

.content .flex-top {
   display: flex;
   justify-content: space-between;
   gap: 30px;
   border: none;
   height: 60px;

}

.flex-top .flex-item {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 50%;
   height: auto;
   padding: 10px;
   border: none;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   border-radius: 10px;
}

.flex-top .flex-item i {
   padding-right: 100px;
}

.flex-top .flex-item p:nth-child(2) {
   color: var(--clr-primary);
   font-weight: bold;
}

.flex-top .flex-item div:nth-child(2) {
   text-align: left
}

.main-board {
   width: 1300px;
   margin-top: 30px;
   margin-bottom: 20px;
   display: flex;
   gap: 40px;
}

.table-left {
   width: 68%;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   border-radius: 10px;
}

.table-right {
   width: 32%;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   text-align: center;
   padding: 13px;
   border-radius: 10px;
}

.table-right p:nth-child(1) {
   font-size: 17px;
}

.table-right img {
   width: 350px;
   margin-top: 15px;
}

.table-right p:nth-child(3) {
   padding: 10px;
   font-size: 14px;
}

.table-right p:nth-child(4) {
   font-weight: 700;
   color: var(--clr-primary);
}


/* footer */

.footer {
   text-align: center;
   width: 98%;
   background-color: white;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   border-radius: 10px;
}